{
  "log_dir": "/var/log/orion-scheduler",
  "orion_source_dir": "/path/to/mega/orion",
  "orion_binary_path": "/path/to/mega/target/debug/orion",
  "ssh_public_key_path": "~/.ssh/orion_vm_access.pub",
  "max_vms": 8,
  "retain_antares_mounts": false,
  "default_image": {
    "image_disk_gb": 50,
    "image_cpus": 8,
    "image_memory_mb": 16000
  }
}
